# Add application configuration variables here, as shown below.

#REQUIRED: Generate a key by saying "rake secret" on the command line
app_secret_key_base: SET_ME
devise_secret_key: SET_ME
devise_pepper: SET_ME

#REQUIRED: The default URL for your website. This value will probably be fine for dev and test, 
#but if you'd like to change it for specific configurations, do it like production does below
default_url: localhost:3000
email_domain: localhost:3000

production:
   #REQUIRED: Set this to the actual host of your production site before running in prod
   default_url: SET_ME
   #REQUIRED: SMTP settings you use to send mail in production
   smtp_server: SET_ME
   smtp_port: SET_ME
   smtp_username: SET_ME
   smtp_password: SET_ME
   #REQUIRED: the domain you want to send emails from. it's expected that the rails app itself will run under api.splendor.whatever
   email_domain: SET_ME